.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 100%;
  max-width: 380px;
  height: 100%;
  background: var(--bg-card);
  z-index: 2000;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--border);
}
.cart-sidebar.open {
  right: 0;
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1999;
}
.cart-header {
  padding: 20px;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
}
.cart-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
.cart-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: center;
  background: var(--bg-input);
  padding: 10px;
  border-radius: 8px;
}
.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.cart-footer {
  padding: 20px;
  background: var(--bg-input);
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--accent-gold);
}
.btn-checkout {
  width: 100%;
  padding: 15px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.close-cart {
  background: transparent;
  border: none;
  color: #ff4d4d; 
  font-size: 2rem; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 5px;
  position: absolute; 
  top: 15px;
  right: 15px;
  outline: none;
}

.close-cart:hover {
  color: #ff0000;
  filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.6)); 
}

/* Efeito ao clicar */
.close-cart:active {
  transform: scale(0.9);
}
.cart-voltar {
  background: rgba(26, 26, 26, 0.8); 
  color: #ff0055; 
  border: 1px solid #e75b5b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
  

}

.cart-voltar:hover {
  background: #ff0055;
  color: #1a1a1a;
  box-shadow: 0 0 15px #e75b5b;
  transform: scale(1.1);
}

.cart-voltar:active {
  transform: scale(0.9);
}

.cart-voltar svg {
  font-size: 1.2rem;
}