/* FOOTER */
.footer{
  background:#111;
  color:white;
  padding:60px 10% 30px 10%;
  font-family: 'Poppins', sans-serif;
}

.footer-logo{
  font-size:28px;
  font-weight:800;
  margin-bottom:20px;
}

.footer-logo span{
  color:#ff3c38;
}

.footer-container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:30px;
  margin-bottom:40px;
}

.footer-links h4,
.footer-contato h4,
.footer-social h4{
  font-size:18px;
  margin-bottom:15px;
}

.footer-links a,
.footer-contato p{
  display:block;
  text-decoration:none;
  color:#ccc;
  margin-bottom:8px;
  font-size:14px;
  transition:0.3s;
}

.footer-links a:hover,
.footer-contato p:hover{
  color:#ff3c38;
}

.footer-social .social-icons{
  display:flex;
  gap:15px;
}

.footer-social a{
  color:white;
  font-size:18px;
  transition:0.3s;
}

.footer-social a:hover{
  color:#ff3c38;
}

.footer-bottom{
  text-align:center;
  font-size:13px;
  color:#777;
  border-top:1px solid #222;
  padding-top:15px;
}

/* RESPONSIVO */
@media(max-width:900px){
  .footer-container{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:500px){
  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
    gap:20px;
  }

  .footer-social .social-icons{
    justify-content:center;
  }
}